nv overlay evpn
feature ospf
feature bgp
feature pim
feature vn-segment-vlan-based
feature nv overlay

hostname {{inventory_hostname}}

ip pim rp-address {{loopback254}}
ip pim anycast-rp {{loopback254}} {{loopback0}}
#ip pim anycast-rp {{loopback254}} {{loopback0}}

#for loop to configure physical fabric interfaces
{% for interface in fabric_interfaces %}
interface {{interface['interface']}}
  no switchport
  description Fabricport
  mtu 9216
  ip address {{interface['ip_add']}}
  ip ospf network point-to-point
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode
  no shutdown
{% endfor %}

interface loopback0
  ip address {{loopback0}}/32
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode
interface loopback254
  ip address {{loopback254}}/32
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode

router ospf UNDERLAY
  router-id {{ router_id }}

router bgp {{ asn }}
  router-id {{ router_id }}
  address-family ipv4 unicast
  #redistribute direct route-map rmap-redist-direct
  address-family l2vpn evpn
#for loop to configure bgp neighbor with leafs
{% for neighbor in bgp_neighbors %}
  neighbor {{neighbor['neighbor']}}
    remote-as {{neighbor['remote_as']}}
    update-source {{neighbor['update_source']}}
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
!
{% endfor %}