feature nxapi
nv overlay evpn
feature ospf
feature bgp
feature pim
feature pbr
feature interface-vlan
feature vn-segment-vlan-based
feature lacp
feature dhcp
feature lldp
feature nv overlay
feature ngoam

hostname {{inventory_hostname}}
#for loop to configure physical fabric interfaces
{% for interface in fabric_interfaces %}
interface {{interface['interface']}}
  no switchport
  description {{interface['description']}}
  mtu 9216
  ip address {{interface['ip_add']}}
  ip ospf network point-to-point
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode
  no shutdown
{% endfor %}

interface loopback0
  ip address {{loopback0}}
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode
interface loopback1
  ip address {{loopback1}}
  ip router ospf UNDERLAY area 0.0.0.0
  ip pim sparse-mode

ip pim rp-address {{rp_address}}

fabric forwarding anycast-gateway-mac 0000.2222.3333

router ospf UNDERLAY
  router-id {{ router_id }}

router bgp {{ asn }}
  router-id {{ router_id }}
  address-family l2vpn evpn
#for loop to configure ibgp neighbor with spines
{% for neighbor in bgp_neighbors %}
  neighbor {{neighbor['neighbor']}}
    remote-as {{neighbor['remote_as']}}
    update-source {{neighbor['update_source']}}
    address-family l2vpn evpn
      send-community
      send-community extended
!
{% endfor %}
route-map fabric-rmap-redist-subnet permit 10
  match tag 12345