#Create L3VNI VRFs (Leaf)
{% for l3vni in l3vni_vlans %}
vlan {{l3vni['vlan_id']}}
  name {{l3vni['name']}} 
  vn-segment {{l3vni['vni_id']}}
interface Vlan{{l3vni['vlan_id']}}
  description  {{l3vni['name']}}-L3VNI-{{l3vni['vni_id']}}
  vrf member {{l3vni['vrf']}}
  ip forward
  no ip redirects
  mtu 9216
  no shutdown
vrf context {{l3vni['vrf']}}
  description {{l3vni['name']}}-L3VNI-{{l3vni['vni_id']}}
  vni {{l3vni['vni_id']}}
  rd auto
  address-family ipv4 unicast
    route-target both auto
    route-target both auto evpn
router bgp {{ asn }}
  vrf {{l3vni['vrf']}}
    address-family ipv4 unicast
      advertise l2vpn evpn
      redistribute direct route-map fabric-rmap-redist-subnet
      maximum-paths ibgp 2
interface nve1
  host-reachability protocol bgp
  source-interface loopback1
  no shutdown
  member vni {{l3vni['vni_id']}} associate-vrf
{% endfor %}

#Create L2VNI networks
{% for l2vni in l2vni_vlans %}
  vlan {{l2vni['vlan_id']}}
    vn-segment {{l2vni['vni_id']}} 
    name {{l2vni['name']}} 
  interface Vlan{{l2vni['vlan_id']}}
    description VLAN GW for staging servers
    vrf member {{l2vni['vrf']}} 
    ip address {{l2vni['addr']}}/{{l2vni['mask']}} tag 12345
    fabric forwarding mode anycast-gateway
    no shutdown
  interface nve1
    no shutdown
    member vni {{l2vni['vni_id']}} 
      mcast-group 239.1.1.0
  evpn
    vni {{l2vni['vni_id']}}  l2
      rd auto
      route-target import auto
      route-target export auto
{% endfor %}